.mainContainer {
  background-color: mintcream;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.chatContent {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messageInp {
  height: 50px;
}
.messageGroup {
  width: 80%;
}
.messageBox {
  font-style: bold;
  width: 90%;
  background-color: lightcyan;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 6px;
}

.messageBox:hover .dateInfo {
  visibility: visible;
}
.dateInfo {
  float: right;
  visibility: hidden;
}

.usernameInfo {
  font-weight: 600;
  border-bottom: 1px solid black;
}
.chatBody {
  height: 82%;
  width: 96%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chatFooter {
  position: fixed;
  bottom: 0px;
  margin: 0px !important;
  width: 98%;
  margin-bottom: 4px !important;
}
.chatHeader {
  height: 40px;
  color: white;
  padding-top: 10px;
}
.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #f5f5f5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

#style-13::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: black;
}

#style-13::-webkit-scrollbar {
  width: 12px;
}

#style-13::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #28a745;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.1) 50%,
    transparent,
    transparent
  );
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  margin-right: 30px;
  margin-top: 10px;
  overflow: hidden;
  background-color: black;
  transition: 1s ease;
}
.menuIcon {
  color: white;
}
.menu:hover {
  height: 100%;
  margin-right: 0px;
  margin-top: 0px;
  background-color: black;
  border-left: 6px solid darkorange;
  border-top: 4px solid darkorange;
  border-radius: 10px;
  z-index: 1;
  transition: 1s ease;
  width: 240px;
}
.menu:hover .menuIcon {
  display: none !important;
}
.menuHeader {
  display: flex;
  justify-content: space-evenly;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 11%;
}
.menuBody {
  height: 78%;
}
.menuFooter {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 11%;
  justify-content: center;
}
.menuBody {
  overflow: auto;
  color: white;
}
.roomItem {
  background-color: rgba(255, 255, 255, 0.1);

  font-size: 18px;
  height: 42px;
  padding-top: 6px;
  padding-left: 20px;
}
.roomItem:nth-child(odd) {
  background-color: black;
}
.avatar {
  width: 50px;
  border-radius: 25px;
}
.userItem {
  padding-left: 20px;
  margin-top: 8px;

  background-color: rgba(255, 255, 255, 0.1);
}
.userItem:nth-child(odd) {
  background-color: black;
}
