<section class="formSection">
  <div class="buttons">
    SIGN
    <a [ngClass]="isSignIn ? 'selected' : ''" (click)="isSignInFunc(true)"
      >IN</a
    >
    /
    <a [ngClass]="!isSignIn ? 'selected' : ''" (click)="isSignInFunc(false)"
      >UP</a
    >
  </div>
  <form
    *ngIf="isSignIn"
    [formGroup]="signInForm"
    (ngSubmit)="signIn()"
    class="form-group"
    method="POST"
  >
    <label for="username">Username:</label>
    <input
      class="form-control"
      formControlName="username"
      id="username"
      placeholder="Enter username"
      [ngClass]="
        !signInForm.get('username').touched
          ? ''
          : signInForm.get('username').hasError('required') ||
            signInForm.get('username').hasError('minlength') ||
            signInForm.get('username').hasError('maxlength')
          ? 'is-invalid'
          : 'is-valid'
      "
    />
    <label for="password">Password:</label>
    <input
      class="form-control"
      formControlName="password"
      id="password"
      type="password"
      placeholder="Enter password"
      [ngClass]="
        !signInForm.get('password').touched
          ? ''
          : signInForm.get('password').hasError('required') ||
            signInForm.get('password').hasError('minlength') ||
            signInForm.get('password').hasError('maxlength')
          ? 'is-invalid'
          : 'is-valid'
      "
    />
    <button
      [disabled]="!signInForm.valid"
      class="btn btn-primary"
      type="submit"
    >
      SIGN IN
    </button>
  </form>
  <form
    *ngIf="!isSignIn"
    [formGroup]="signUpForm"
    (ngSubmit)="signUp()"
    class="form-group"
    method="POST"
  >
    <label for="username">Username:</label>
    <input
      class="form-control"
      formControlName="username"
      id="username"
      placeholder="Enter username"
      [ngClass]="
        !signUpForm.get('username').touched
          ? ''
          : signUpForm.get('username').hasError('required') ||
            signUpForm.get('username').hasError('minlength') ||
            signUpForm.get('username').hasError('maxlength')
          ? 'is-invalid'
          : 'is-valid'
      "
    />
    <label for="password">Password:</label>
    <input
      class="form-control"
      formControlName="password"
      id="password"
      type="password"
      placeholder="Enter password"
      [ngClass]="
        !signUpForm.get('password').touched
          ? ''
          : signUpForm.get('password').hasError('required') ||
            signUpForm.get('password').hasError('minlength') ||
            signUpForm.get('password').hasError('maxlength')
          ? 'is-invalid'
          : 'is-valid'
      "
    />
    <label for="passwordC">Password:</label>
    <input
      class="form-control"
      formControlName="passwordC"
      id="passwordC"
      type="password"
      placeholder="Re-enter password"
      [ngClass]="
        !signUpForm.get('passwordC').touched
          ? ''
          : signUpForm.get('passwordC').hasError('required') ||
            signUpForm.get('passwordC').hasError('minlength') ||
            signUpForm.get('passwordC').hasError('maxlength') ||
            signUpForm.get('passwordC').hasError('mismatch')
          ? 'is-invalid'
          : 'is-valid'
      "
    />
    <button
      [disabled]="!signUpForm.valid"
      class="btn btn-primary"
      type="submit"
    >
      SIGN UP
    </button>
  </form>
</section>
