<form [formGroup]="loginForm" (ngSubmit)="loginFunc()">
  <input formControlName="username" />
  <input formControlName="password" />
  <button type="submit">asd</button>
</form>
<ul>
  <li *ngFor="let item of onlineUser">
    {{ item.username }}
  </li>
</ul>
<button (click)="getUser()">new socket</button>
<button (click)="discSocket()">disc socket</button>
<button (click)="getSocket()">get socket</button>
<button (click)="addRoom()">add room</button>
<button (click)="data()">show rooms</button>
