<section class="formSection">
  <form [formGroup]="loginForm" (ngSubmit)="signIn()" class="form-group">
    <label for="username">Username:</label>
    <input
      class="form-control"
      formControlName="username"
      id="username"
      placeholder="Enter username"
    />
    <label for="password">Password:</label>
    <input
      class="form-control"
      formControlName="password"
      id="password"
      placeholder="Enter password"
    />
    <button class="btn btn-primary" type="submit">SIGN IN</button>
  </form>
</section>
